*{

    margin:0;

    padding:0;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

}

.login_container{

    display:flex;

    justify-content: center;

    align-items: center;

    height:100vh;

    width:100%;

    background-color: #76b852;

}

.login_box{

    display:flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background:#FFF;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    padding:30px;

    border:0;

}

.select {
    background-color: #6e6e6e;
    height: 36px;
    font-size: 14px;
    padding: 4px;
    color: white;
    text-transform: uppercase;
}
.change {
    height: 24px;
    width: 100%;
    cursor: pointer;
    background-color: #575757;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 3px;
    border:none;
    transition: all .3s;
}
.change:hover{
    background-color: #444444;
}

.add_user_section{

    display:flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    max-width: 360px;

    background:#FFF;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    padding:30px;

    border:0;
}
.message{

    margin-top: 30px;

    font-size:15px;

    font-weight: bold;

}



.password{

    width:100%;

    background: #f2f2f2;

    padding: 15px;

    font-size: 14px;

    border:0;

    margin: 0 0 15px;

}



.checkbox_class{

  font-size: 14px;

  color:gray;

  margin-bottom: 15px;

}



.submit{

    text-transform: uppercase;

    border:2px solid #4CAF50;

    background-color: #5ec262;

    width: 100%;

    border: 0;

    padding:15px;

    color: #FFFFFF;

    font-size: 14px;

    transition:.3s background-color;

    cursor:pointer;

}



.submit:hover{

    background-color:#4CAF50;

}



.register_button{

  /* display: block; */

  align-self: flex-end;

  text-decoration: none;

  color: black;

  padding:2px;

  font-size: 15px;

}

.reset_button{

    /* display: block; */
  
    align-self: flex-start;
  
    text-decoration: none;
  
    color: black;
  
    padding:2px;
  
    font-size: 15px;
  
  }