*{
margin:0;
padding:0;
border:0;
font-family: 'Montserrat', sans-serif;
}
body{
    min-height:50vh;
    /* background-color: gray; */
}
.menu{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    min-height:68px;
    background-color: #6ba56d;
    padding:5px 0 5px 0px;
    flex-wrap:wrap;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.menu .message{
    color:white;
    font-size:25px;
    min-width:300px;

}
.menu .status{
    display: flex;
    font-size:15px;
    color: white;
    min-width:250px;
    text-transform: uppercase;
}
.menu .status .statusOut{
    font-size:15px;
    color: #2b2b2b;
}
.log_out_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ad9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transition: all .5s;
}
.log_out_container:hover{
    background-color: white;
}
.nav_inputs_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.super_option{
    text-transform: uppercase;
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    background-color: #575757;
    border-radius: 1px;
    /* border: 2px solid #353535; */
    transition: all .3s;
    cursor:pointer;
}
.super_option:hover{
    background-color: #353535;
}


.logout_button{
    text-transform: uppercase;
    background: #4CAF50;
    /* width: 100%; */
    border: 0;
    padding:15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor:pointer;
}
.submit_button{
    text-transform: uppercase;
    border: 2px solid #353535;
    background-color: #d98888;
    padding: 5px 20px;
    color: #FFFFFF;
    font-size: 14px;
    transition: .3s background-color;
    cursor: pointer;
}
.submit_button:hover{
    background-color:#4CAF50;
}

.search{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.select_magazine{
    background-color: #575757;
    height: 36px;
    font-size: 14px;
    padding: 4px;
    color: white;
    text-transform: uppercase;
}
.select_magazine1{
    background-color: #5d8d5f;
    height: 36px;
    font-size: 14px;
    padding: 4px;
    color: white;
    width: 308px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.word{
    text-transform: uppercase;
    height: 36px;
    width: 500px;
    background-color: #efefef;
    padding: 5px;
}
.word::placeholder{
    font-size:14px;
}
.send_word{
    height: 36px;
    width: 90px;
    cursor: pointer;
    background-color: #575757;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}
.result{
    /* padding:0 10px 0 10px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    position:relative;
    height: calc(100vh - 193px);
    /* overflow:scroll; */
}
.my_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-left:30px;
    background-color:#ad3;;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}
.my_cart:hover{
    background-color: white;
}
.admin_tools_container{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:calc(50% - 30px);
    transform: translateX(-50%);
}
.tool_item{
    border-radius:50%;
    background-color: #dbf3fb;
    height:50px;
    width:50px;
    margin:2px;
    cursor:pointer;
}
.my_cart, .tool_item{
    transition: all .3s;
}

.my_database:hover{
    background-color: #78d6f5;
}
.add_to_exist:hover{
    background-color: #aaf578;
}

.buttons_container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    /* height:100%; */
    width:100%;
}

.to_buy_img{
    padding:0 2px 0 2px;
    cursor:pointer;
}


table{
    text-align: center;
}
table td{
    /* display:flex;
    justify-content: center;
    align-items: center; */
    /* width:20%; */
    /* background-color: white; */
    /* border:1px solid #666666; */
    padding:2px 8px 2px 8px;
    flex-grow: 1;
}

table tr th{
    font-size:16px;
    text-transform: uppercase;
    padding:10px 12px;
    font-weight: 100;
}
table th:nth-of-type(1){
    width:100px;
}
table th:nth-of-type(3),table th:nth-of-type(4) {
    width:200px;
}
table th:nth-of-type(5){
    width:150px;
}
tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
tbody tr:nth-of-type(odd){
    background-color: #e3e3e3;
}
tbody tr:hover {
    background-color:#ececec ;
}
tbody tr{
    border:1px solid gray;
}
.fix{
    width:150px;
}
.value_to_change{
    background-color:rgb(240, 240, 240);
    border:2px solid lightgray;
    border-radius: 3px;
    min-width:50px;
    padding:3px;
}
.my_cart_numbers{
    padding: 3px 6px;
    margin-right: 10px;
    width: 100PX;
    background-color: white;
    border-radius: 2px;
}
.price{
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #453f3f;
    border-radius: 1px;
}

.shop_page_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    right: -400px;
    bottom: 0;
    background-color: #9ec9a0;
    height: calc(100vh - 78px);
    width: 400px;
    transition: all .5s;
}




.show_my_cart{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:25px;
}
.show_my_cart1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6ba56d;
    padding:25px;
    color:black;
    -webkit-box-shadow: 5px 5px 100px -8px rgba(107, 165, 109, 1);
    -moz-box-shadow: 5px 5px 100px -8px rgba(107, 165, 109, 1);
    box-shadow: 5px 5px 100px -8px rgba(107, 165, 109, 1);
}
.cart_name{
    text-transform: uppercase;
    height: 36px;
    width: 308px;
    background-color: #efefef;
    padding: 5px;
}
.cart_flex{
    display: flex;
    flex-direction: row;
    width: 308px;
}
.cart_half{
    width:50%;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 3px;
    text-transform: uppercase;
}
.cart_word{
    font-size: 15px;
    color: white;
    padding: 5px;
    text-transform: uppercase;
}
.cart_word_input{
    text-transform: uppercase;
    height: 36px;
    width: 150px;
    margin: 2px;
    background-color: #efefef;
    padding: 5px;
}
.show_my_cart table{
    border-radius:0;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
}
.show_my_cart table th{
    background-color: #575757;
    width: 33.33%;
    color: #fdfdfd;
    font-size: 15px;
    border-radius: 1px;
}
.show_my_cart table tr{
    background-color: transparent;
}
.show_my_cart table td{
    background-color: #b7e1b9;
    padding: 3px;
    font-size: 15px;
    color: #453f3f;
}
.remove_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.message2{
    padding: 5px;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
}
.table_container{
    max-height:60vh;
    overflow-y: hidden;
}
.show_my_cart table{
    width:100%;
}
.input_text{
    padding: 3px 6px;
}
.fix_2{
    width:33.3%;
}
.notification{
    text-transform: uppercase;
    position: fixed;
    left: 15%;
    bottom: 8%;
    height: 19px;
    transform: translateX(-50%);
    background-color: #6ba56d;
    border-radius: 1px;
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    animation: noti 4s ease;
    animation-fill-mode: forwards;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media only screen and (max-width: 615px) {
    .menu{
        flex-direction:column;
    }
    .search{
        height:auto;
        flex-direction:column;
    }
    .select_magazine{
        height:50px;
        width:100%;
    }
    .word{
        height:50px;
        width:100%;
        border:none;
        background-color: rgb(209, 209, 209);
    }
    .send_word{
        height:50px;
        width:100%;
    }
    .result{
        /* margin-top:2.5vh; */
        padding:0;
    }
    table{
        width:100%;
    }
    table th{
        font-weight:normal;
        font-size:15px;
    }
    table td{
        text-align:center;
        font-weight:normal;
        font-size:14px;
    }
    .menu .message{
        color:white;
        font-size:19px;
    }
    .show_my_cart{
        width:100%;
    }

    .notification{
        display: none;
    }
  }

  @keyframes noti{
      0%{
          opacity: 0;
          top:93vh;
      }
      15%{
          opacity:1;
          top:90vh;
      }
      85%{
          opacity:1;
          top:90vh;
      }
      100%{
            opacity:0;
            top:93vh;
      }
  }
